<h2>About Us</h2>
<p>At GPF, we offer Illumina Sequencing with protocols the follow applications such as</p>
<ul>
	<li>30-36 million clusters per lane</li>
	<li>36, 54, 76, 100bp (up to 150) long reads</li>
	<li>Single or Paired End sequencing</li>
	<li>Multiplexing, up to 12 samples per lane</li>
	<li>Directional mRNA-seq</li>
	<li>Sequence capture in the coming future</li>
</ul>