	<h2>Contacts</h2>
	<table>
		<tr>
			<th>Post</th>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Fax </th>
		</tr>
		<tr>
			<td>Director</td>
			<td>Dr. Mike Barrett</td>
			<td>0141 330 2500</td>
			<td>0141 330 5161</td>
		</tr>
		<tr>
			<td>Proteomics</td>
			<td>Dr.Richard Burchmore</td>
			<td>0141 330 8612</td>
			<td>0141 330 4600</td>
		</tr>
		<tr>
			<td>Metabolomics</td>
			<td>Dr. Karl Burgess</td>
			<td>0141 330 7151</td>
			<td>0141 330 4600</td>
		</tr>
		<tr>
			<td>NGS Sequencing, Gene Arrays, Bioinformatics</td>
			<td>Dr. Pawel Herzyk</td>
			<td>0141 330 3180</td>
			<td>0141 330 4600</td>
		</tr>

		<tr>
			<td>Sequencing Technician 1</td>
			<td>Julie Galbraith</td>
			<td>0141 330 5196</td>
		</tr>
		<tr>
			<td>Sequencing Technician 2</td>
			<td>Jing Wang</td>
			<td>0141 330 5196</td>
		</tr>
	</table></p>
