<span style= "text-align: center">
<h2>Help</h2>
</span>

<p>There are certain constraints while submitting batches </p>
<ul>
	<li>Make sure you sign up first for getting the membership from the facility</li>
	<li>Please submit separate batches for each sample type i.e. DNA or RNA</li>
</ul>