<h3>Welcome to</h3>
<h2>Glasgow Polyomics Facility - Genomics</h2>
<p>Sequencing the genome of the DNA is one of the most inspired technologies under the bailiwick of Biology today. </p>
<p>With the debut of Next Generation Sequencing, the ordering of whole genome scale as well as sequence based arrays 
	could be performed for even those organisms that have no prior genome research are done at a reasonable economic 
	cost and high accuracy which provide efficient service to academic and commercial environment investigators.</p>

<p>Here at Glasgow Polyomics Genomics Facility, we provide our customers with post genomic engineering including 
	genomic, proteomic and bioinformatic workflows with our high-throughput sequencing instruments which are supervised by proficient staff and researchers in the field.</p>

<p>We always look forward to collaborate on developing new approaches that are relevant to all areas.</p>
<p><%= link_to "Sign up now!", signup_path, :class => "signup_button round" %></p>

