<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="http://www.talentscotland.com/Workers/employers/T/The-Sir-Henry-Wellcome-Functional-Genomics-Facility.aspx">News</a></li>
    <li><a href="http://www.gla.ac.uk/schools/lifesciences/informationforstaff/facilities/functionalgenomicsfacility/">SHWFGF</a></li>
  </ul>
</div>